/* Estilo para el scroll en todo el documento */
::-webkit-scrollbar {
    background-color: #212529;
    width: 10px; /* Ancho del scroll */
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #F9E79F; /* Color blanco para el pulgar del scroll */
    border-radius: 10px; /* Bordes redondeados */
    border: 1px solid black;

}

