@import url("styles/bootstrapConfig.css");
@import url("components/waves.css");
@import url("components/scroll.css");
@import url("components/cards.css");
@import url("components/gridContainers.css");




body{
    background-image: url("../sources/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0; 
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.c-pastel{
    color: #F9E79F;
}

.c-rosa-pastel{
    color: #FAD0C9;
}

.c-rojo-pastel{
    color:#F7A1A1;
    text-shadow: 1px 1px 0 #000, 0 1px 0 #000, -1px -1px 0 #000, 0 -1px 0 #000;
    font-size: 36px; 
    font-weight: 800; 
}
.c-rojo-pastel-2{
    color:#F7A1A1;
    text-shadow: 1px 1px 0 #000, 0 1px 0 #000, -1px -1px 0 #000, 0 -1px 0 #000;
    font-size: 16px; 
    font-weight: 600;
    margin-top:15px;
}

.fw-800{
    font-weight:800;
}

@media (max-width: 768px) {
    .c-rojo-pastel {
        font-size: 20px; 
        font-weight: 600;
    }
}

.pastel{
    background-color: #F9E79F;
  }

.rosa-pastel{
    background-color: #FAD0C9;
}

.mt-9{
    margin-top:300px;
}

.bg-dark-blue{
    background-color: #212529;
}

.container-schedule{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: #F9E79F;
    border-radius: 50%;
    margin-top: 50px;
}

.birds {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: auto;
    background-color: white;
    color: black ;
    cursor: pointer;
    overflow: hidden;
    transition: 400ms;
    padding: 20px;
    position: relative; /* Para que el ::after se mantenga dentro */

}

.birds::after {
    content: "";
    position: absolute; /* Cambiado de fixed a absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../sources/img/birds.png");
    background-size: cover;
    background-position: center;
}
